aiohttp
backoff
beautifulsoup4
black
datasets
docx2txt
Flask
flask_cors
jupyter
langchain
matplotlib
nltk
notebook
numpy
openai
openai[dev,datalib,wandb,embeddings]
openpyxl
pandas
pandas-stubs
Pillow
plotly
pymilvus
PyPDF2
pytest
pytest-asyncio
pytest-mock
PyYAML
qdrant-client
requests
scikit-learn
scipy
smokey
statsmodels
streamlit
streamlit-chat
tenacity
termcolor
textract
tiktoken
torch
tqdm
transformers
wandb
wget
wikipedia